html, body {
	/*width: 100%;*/
}

body {
	padding: 22px;
	background-color: #fff;
	color: #333;
}

body, th, td, div {
	font: normal 16px arial;
}

td {
	width: 296px;
	border-left: 1px dotted #333;
	padding: 0;
	vertical-align: top;
}

th {
	border-bottom: 1px dotted #333;
	border-left: 1px dotted #333;
	text-align: center;
	padding: 11px 0;
	font-size: 1.3em;
}

.first {
	border-left: none;
}

.item {
	width: 260px;
	border: 1px solid #333;
	background-color: #aad6ff;
	margin: 11px;
}

.bug {
	background-color: #ffc8bd;
}

.handle {
	background-color: #464C5A;
	width: 100%;
	height: 16px;
	cursor: move;
}

.item .content {
	padding: 7px;
}


.param {
	clear: both;
	padding: 2px 4px;
	cursor: default;
	border: 1px solid #aad6ff;
}

.bug .param {
	border: 1px solid #ffc8bd;
}

.param:hover {
	border: 1px dotted #666;
	/*background-color: #B9E5FF;*/

	/*cursor: default;*/
}

/*.bug .param:hover {*/
	/*background-color: #FFDDD2;*/
	/*border: 1px dotted #666;*/
/*}*/

.drag-drop-target-active {
	background-color: #dfd;
}

#editable {
	background-color: #f0f0f0;
}

.dummy {
	height: 1px;
}